body{
    background-color: #5C5D8D;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    text-align: center;
    padding: 20px;
}

h1{
    color: whitesmoke;
}

.search-box{
    margin-bottom: 30px;
}

.search-box input{
    padding: 10px;
    width: 200px;
    border: 1px solid black;
    border-radius: 5px;
}

.search-box button{
    padding: 10px;
    border: none;
    background-color: #607994;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.search-box button:hover{
    background-color: #99A1A6;
}